<html>
  <head>
    <script type="text/javascript">
      var scr = document.createElement("script");
      scr.id = "priz_script";
      scr.type = "text/javascript";
      var src = "../";
      if(document.URL.split("?v=")[1])
        src += "v/" + document.URL.split("?v=")[1] + "/";
      src += "markup.js";
      scr.src = src;
      document.head.append(scr);
    </script>
  </head>
  <body style="background-color: #122;">
    <h1 id="head" style="transform: none; top: 0px;">VIEW THE OUPUT</h1>
    To view the raw output, navigate to <a href="/priz.md/iframe">./iframe.html</a><br>
    <textarea onkeyup="document.getElementById('out').innerHTML = mark_page(this.value); sub_styles();"></textarea>
    <div id="out" class="sect"></div>
  </body>
</html>
